body {
    background-image: url('trabalhador no campo.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: "Rubik", sans-serif;
    color: #1d4221;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}

button {
    background-color: #64A712;
    color: white;
    font-family: "Rubik", sans-serif;
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.passo {
    display: none;
}

.passo.ativo {
    display: block;
}

h2 {
    text-align: center;
}

.alinhamento-lista {
    display: flex;
    align-items: center;
    gap: 30px;
}

.alinhamento-lista img {
    width: 350px;
    border-radius: 10px;
}