body {
    background-image: url('trabalhador no campo.png');
    background-size: cover;
    background-position: center; /* Aqui estava 'cover', o correto para posição é 'center' */
    background-repeat: no-repeat;
    
    text-align: center; /* Aqui estava escrito 'aling', o correto é 'align' */
    margin-top: 50px;
}